<div id="carousel-example-generic" class="carousel home_carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->

  <!-- Wrapper for slides -->
  <!--<div class="carousel-inner">-->
    <!--<div class="item active">-->
      <!--<img src="http://placehold.it/1200x315" alt="...">-->
      <!--<div class="carousel-caption">-->
        <!--<h3>Caption Text</h3>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
      <!--<img src="http://placehold.it/1200x315" alt="...">-->
      <!--<div class="carousel-caption">-->
        <!--<h3>Caption Text2</h3>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
      <!--<img src="http://placehold.it/1200x315" alt="...">-->
      <!--<div class="carousel-caption">-->
        <!--<h3>Caption Text3</h3>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="carousel-inner" style="height: 500px;">
    <% @carousel_data.each do |carousel| %>
        <div class="item <%= carousel[:active] %>">
          <img src="<%= params[:device_medium] == "web" ? carousel[:img_data]['desktop'][:url] : carousel[:img_data]['mobile'][:url]  %>" alt=<%=carousel[:header] %> >
          <div class="carousel-caption">
            <div class="descriptionHeader heading-1"><%=raw carousel[:header] %></div>
            <div class="descriptioncontent text-1"><%=raw carousel[:description]%></div>
            <div class="circular-book hero-button">
              <% if carousel[:button_type].eql?('button_link') %>
                  <a href="/<%= carousel[:link]%>" class="btn c-t-a-on-hero-banner shop-now-btn btn-secondary"><%= carousel[:button_text] %></a>
              <% end %>
            </div>
            </div>
          </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<script>
    $('#carousel-example-generic').on('slid.bs.carousel', function () {
        $holder = $( "ol li.active" );
        $holder.removeClass('active');
        var idx = $('div.active').index('div.item');
        $('ol.carousel-indicators li[data-slide-to="'+ idx+'"]').addClass('active');
    });

    $('ol.carousel-indicators  li').on("click",function(){
        $('ol.carousel-indicators li.active').removeClass("active");
        $(this).addClass("active");
    });
</script>
