<section id="footer-bottom">
  <div class="footer-bottom-wrap">
    <div class="row footer-inner-one ">
      <div class="do-features">
            <div class="col-md-2 features-list features-qd">
              <h5>QUICK DELIVERY</h5>
            </div>
            <div class="col-md-2 features-list features-cod">
              <h5>CASH ON DELIVERY</h5>
            </div>
            <div class="col-md-2 features-list features-er">
              <h5>EASY RETURNS</h5>
            </div>
            <div class="col-md-2 features-list-one features-qa">
              <h5>QUALITY ASSURED</h5>
            </div>
      </div>
    </div>
    <div class="row-border"></div>
    <div class="row footer-inner-three">
      <h3 class="ft-blue-4 ">
        <a href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>about-us">DilSePrints - A Public Enterprise</a>
      </h3>
      <p>DilsePrints is committed not only in providing quality fashion accessories but also support the learning of women and children in their education. You may refer to it by any name, but this is, our business model, our USP and our way of approach. DilsePrints is a "for public" enterprise
        <a class="know-more-about" href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>about-us/">Know more</a>
      </p>
      <br>
      <br>
      <ul class="inline-list large-offset-3 medium-offset-2">
        <li>
          <a href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>about-us/">About Us</a>
        </li>
        <li>
          <a href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>payment-shipping-returns/">Payment, Shipping &amp; Returns </a>
        </li>
        <li>
          <a href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>terms-of-use/">Terms of use</a>
        </li>
        <li>
          <a href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>our-policy/">Privacy &amp; Security Policy</a>
        </li>
        <li>
          <a href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>career/">Career</a>
        </li>
        <li>
          <a href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>corporate/">Corporate</a>
        </li>
        <li>
          <a href="<%= GlobalConstant::ROOT_URL_WITH_TRAILING_SLASH %>blog/">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</section>